# Pandas Basics

> Based off LeetCode's [Introduction to Pandas](https://leetcode.com/studyplan/introduction-to-pandas/) Study Plan

In [42]:
import pandas as pd

### DataFrame Creation

#### Creation of DataFrame from Raw Data

In [43]:
data = [
    ["LA", 53, 60, "BC"],
    ["DAA", 70, 75, "AA"],
    ["CCN", 51.5, 66, "AB"],
    ["OS", 74.5, 71, "AB"]
]

df1 = pd.DataFrame(
    data, columns=["Subject", "ESEMarks", "FinalMarks", "FinalGrade"])
df1

  Subject  ESEMarks  FinalMarks FinalGrade
0      LA      53.0          60         BC
1     DAA      70.0          75         AA
2     CCN      51.5          66         AB
3      OS      74.5          71         AB

#### Creation of a DataFrame from CSV

In [44]:
df = pd.read_csv("Virat_Kohli_Centuries.csv")
df

,S. No.,Date,Score,Strike Rate,Type of Match,Position,Innings,Dismissed,Man of the Match,Captain,Against,Venue,H/A/N,Result
0,1,24-12-2009,107,93.85,ODI,4,2,Yes,No,No,Sri Lanka,"Eden Gardens, Kolkata",Home,Won
1,2,11-01-2010,102,107.37,ODI,3,2,No,Yes,No,Bangladesh,"Sher-e-Bangla Stadium, Dhaka",Away,Won
2,3,20-10-2010,118,97.52,ODI,3,2,Yes,Yes,No,Australia,"APCA-VDCA Stadium, Visakhapatnam",Home,Won
3,4,28-11-2010,105,100.96,ODI,3,1,Yes,Yes,No,New Zealand,"Nehru Stadium, Guwahati",Home,Won
4,5,19-02-2011,100,120.48,ODI,4,1,No,No,No,Bangladesh,"Sher-e-Bangla Stadium, Dhaka",Away,Won
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,10-10-2019,254,75.59,Test,4,1,No,Yes,Yes,South Africa,"Maharashtra Cricket Association Stadium, Pune",Home,Won
76,77,22-11-2019,136,70.10,Test,4,2,Yes,No,Yes,Bangladesh,"Eden Gardens, Kolkata",Home,Won
77,78,09-03-2023,186,51.09,Test,4,2,Yes,Yes,No,Australia,"Narendra Modi Stadium, Ahmedabad",Home,Drawn
78,79,20-07-2023,121,58.73,Test,4,1,Yes,No,No,West Indies,"Queen's Park Oval, Port of Spain",Away,Drawn
79,80,08-09-2022,122,200.00,T20,2,1,No,Yes,No,Afghanistan,"Dubai International Cricket Stadium, Dubai",Neutral,Won

### Data Retrieval

#### Retrieve overall structure of the DataFrame

In [45]:
size = df1.shape
print(size)

count_rows_into_columns = df1.size
print(count_rows_into_columns)

cols = df1.columns
print(cols)

# Bonus: DataTypes
datatypes = df1.dtypes
datatypes

(4, 4)
16
Index(['Subject', 'ESEMarks', 'FinalMarks', 'FinalGrade'], dtype='object')

Subject        object
ESEMarks      float64
FinalMarks      int64
FinalGrade     object
dtype: object

#### Retrieve initial n rows of the DataFrame

In [46]:
# Use head for top n rows of the DataFrame
df.head(3)

# Use tail for botton n rows of the DataFrame
df.tail(4)

,S. No.,Date,Score,Strike Rate,Type of Match,Position,Innings,Dismissed,Man of the Match,Captain,Against,Venue,H/A/N,Result
76,77,22-11-2019,136,70.10,Test,4,2,Yes,No,Yes,Bangladesh,"Eden Gardens, Kolkata",Home,Won
77,78,09-03-2023,186,51.09,Test,4,2,Yes,Yes,No,Australia,"Narendra Modi Stadium, Ahmedabad",Home,Drawn
78,79,20-07-2023,121,58.73,Test,4,1,Yes,No,No,West Indies,"Queen's Park Oval, Port of Spain",Away,Drawn
79,80,08-09-2022,122,200.00,T20,2,1,No,Yes,No,Afghanistan,"Dubai International Cricket Stadium, Dubai",Neutral,Won

#### Summary Statistics

In [47]:
print(df.describe(include="object"))  # For Object values
df.describe()  # For all numeric values/datatypes

              Date Type of Match Dismissed Man of the Match Captain  \
count           80            80        80               80      80
unique          79             3         2                2       2
top     09-12-2014           ODI       Yes              Yes     Yes
freq             2            50        56               43      41

          Against                    Venue H/A/N Result
count          80                       80    80     80
unique         10                       49     3      4
top     Australia  Adelaide Oval, Adelaide  Home    Won
freq           16                        5    38     56

        S. No.       Score  Strike Rate   Position   Innings
count  80.0000   80.000000    80.000000  80.000000  80.00000
mean   40.5000  131.550000    99.270125   3.500000   1.67500
std    23.2379   35.094772    32.741739   0.656033   0.67082
min     1.0000  100.000000    34.910000   2.000000   1.00000
25%    20.7500  107.000000    75.695000   3.000000   1.00000
50%    40.5000  118.500000    97.160000   3.000000   2.00000
75%    60.2500  139.250000   115.075000   4.000000   2.00000
max    80.0000  254.000000   200.000000   6.000000   4.00000

#### Retrieve a specific column

In [48]:
df.Date # 1 column, no space

0     24-12-2009
1     11-01-2010
2     20-10-2010
3     28-11-2010
4     19-02-2011
         ...
75    10-10-2019
76    22-11-2019
77    09-03-2023
78    20-07-2023
79    08-09-2022
Name: Date, Length: 80, dtype: object

In [49]:
df["Strike Rate"] # 1 column, space in name

0      93.85
1     107.37
2      97.52
3     100.96
4     120.48
       ...
75     75.59
76     70.10
77     51.09
78     58.73
79    200.00
Name: Strike Rate, Length: 80, dtype: float64

In [50]:
df[["Date", "Strike Rate"]]  # Multiple cols

          Date  Strike Rate
0   24-12-2009        93.85
1   11-01-2010       107.37
2   20-10-2010        97.52
3   28-11-2010       100.96
4   19-02-2011       120.48
..         ...          ...
75  10-10-2019        75.59
76  22-11-2019        70.10
77  09-03-2023        51.09
78  20-07-2023        58.73
79  08-09-2022       200.00

[80 rows x 2 columns]

In [51]:
df["Man of the Match"].unique() # Get unique values in a column

array(['No', 'Yes'], dtype=object)

#### Retrieve specific rows

In [52]:
# Say we want to matches where Kohli's strike rate was more than 100
df[df["Strike Rate"] > 100]
# here we are basically taking the column that is needed and putting it back into df after querying

,S. No.,Date,Score,Strike Rate,Type of Match,Position,Innings,Dismissed,Man of the Match,Captain,Against,Venue,H/A/N,Result
1,2,11-01-2010,102,107.37,ODI,3,2,No,Yes,No,Bangladesh,"Sher-e-Bangla Stadium, Dhaka",Away,Won
3,4,28-11-2010,105,100.96,ODI,3,1,Yes,Yes,No,New Zealand,"Nehru Stadium, Guwahati",Home,Won
4,5,19-02-2011,100,120.48,ODI,4,1,No,No,No,Bangladesh,"Sher-e-Bangla Stadium, Dhaka",Away,Won
5,6,16-09-2011,107,115.05,ODI,4,1,Yes,No,No,England,"Sophia Gardens, Cardiff",Away,Lost
6,7,17-10-2011,112,114.28,ODI,4,2,No,Yes,No,England,"Feroz Shah Kotla Ground, Delhi",Home,Won
8,9,28-02-2012,133,154.65,ODI,4,2,No,Yes,No,Sri Lanka,"Bellerive Oval, Hobart",Neutral,Won
10,11,18-03-2012,183,123.64,ODI,3,2,Yes,Yes,No,Pakistan,"Sher-e-Bangla Stadium, Dhaka",Neutral,Won
12,13,31-07-2012,128,107.56,ODI,3,2,No,Yes,No,Sri Lanka,"R. Premadasa Stadium, Colombo",Away,Won
13,14,05-07-2013,102,122.89,ODI,3,1,Yes,No,Yes,West Indies,"Queen's Park Oval, Port of Spain",Away,Won
14,15,24-07-2013,115,106.48,ODI,3,2,Yes,No,Yes,Zimbabwe,"Harare Sports Club, Harare",Away,Won
15,16,16-10-2013,100,192.30,ODI,3,2,No,No,No,Australia,"Sawai Mansingh Stadium, Jaipur",Home,Won
16,17,30-10-2013,115,174.24,ODI,3,2,No,Yes,No,Australia,"VCA Stadium, Nagpur",Home,Won
17,18,19-01-2014,123,110.81,ODI,3,2,Yes,No,No,New Zealand,"McLean Park, Napier",Away,Lost
18,19,26-02-2014,136,111.47,ODI,3,2,Yes,Yes,Yes,Bangladesh,"Khan Shaheb Osman Ali Stadium, Fatullah",Away,Won
19,20,17-10-2014,127,111.40,ODI,3,1,Yes,Yes,No,West Indies,"HPCA Stadium, Dharamshala",Home,Won
20,21,16-11-2014,139,110.31,ODI,4,2,No,No,Yes,Sri Lanka,"JSCA Stadium, Ranchi",Home,Won
24,25,20-01-2016,106,115.21,ODI,3,2,Yes,No,No,Australia,"Manuka Oval, Canberra",Away,Lost
25,26,23-10-2016,154,114.92,ODI,3,2,No,Yes,No,New Zealand,"IS Bindra Stadium, Mohali",Home,Won
26,27,15-01-2017,122,116.19,ODI,3,2,Yes,No,Yes,England,"Maharashtra Cricket Association Stadium, Pune",Home,Won
28,29,31-08-2017,131,136.45,ODI,3,1,Yes,Yes,Yes,Sri Lanka,"R. Premadasa Stadium, Colombo",Away,Won
31,32,29-10-2017,113,106.60,ODI,3,1,Yes,No,Yes,New Zealand,"Green Park Stadium, Kanpur",Home,Won
33,34,07-02-2018,160,100.62,ODI,3,1,No,Yes,Yes,South Africa,"Newlands Cricket Ground, Cape Town",Away,Won
34,35,16-02-2018,129,134.37,ODI,3,2,No,Yes,Yes,South Africa,"SuperSport Park, Centurion",Away,Won
35,36,21-10-2018,140,130.84,ODI,3,2,Yes,Yes,Yes,West Indies,"ACA Stadium, Guwahati",Home,Won
36,37,24-10-2018,157,121.71,ODI,3,1,No,Yes,Yes,West Indies,"ACA-VDCA Stadium, Visakhapatnam",Home,Tied
40,41,08-03-2019,123,129.47,ODI,3,2,Yes,No,Yes,Australia,"JSCA Stadium, Ranchi",Home,Lost
42,43,14-08-2019,114,115.15,ODI,3,2,No,Yes,Yes,West Indies,"Queen's Park Oval, Port of Spain",Away,Won
43,44,10-12-2022,113,124.17,ODI,3,1,Yes,No,No,Bangladesh,"Zohur Ahmed Chowdhury Stadium, Chittagong",Away,Won
44,45,10-01-2023,113,129.88,ODI,3,1,Yes,Yes,No,Sri Lanka,"ACA Stadium, Guwahati",Home,Won
45,46,15-01-2023,166,150.90,ODI,3,1,No,Yes,No,Sri Lanka,"Greenfield International Stadium, Thiruvananth...",Home,Won
46,47,10-09-2023,122,129.78,ODI,3,1,No,Yes,No,Pakistan,"R. Premadasa Stadium, Colombo",Neutral,Won
47,48,19-10-2023,103,106.18,ODI,3,2,No,Yes,No,Bangladesh,"Maharashtra Cricket Association Stadium, Pune",Home,Won
49,50,15-11-2023,117,103.53,ODI,3,1,Yes,No,No,New Zealand,"Wankhede Stadium, Mumbai",Home,Won
54,55,18-12-2013,119,192.13,Test,4,1,Yes,Yes,No,South Africa,"Wanderers Stadium, Johannesburg",Away,Drawn
55,56,14-02-2014,105,100.19,Test,4,4,No,No,No,New Zealand,"Basin Reserve, Wellington",Away,Drawn
79,80,08-09-2022,122,200.00,T20,2,1,No,Yes,No,Afghanistan,"Dubai International Cricket Stadium, Dubai",Neutral,Won

In [53]:
# Complex Query: Matches with Strike Rate > 100 and India lost the game
df[(df["Strike Rate"] > 100) & (df.Result == "Lost")]

,S. No.,Date,Score,Strike Rate,Type of Match,Position,Innings,Dismissed,Man of the Match,Captain,Against,Venue,H/A/N,Result
5,6,16-09-2011,107,115.05,ODI,4,1,Yes,No,No,England,"Sophia Gardens, Cardiff",Away,Lost
17,18,19-01-2014,123,110.81,ODI,3,2,Yes,No,No,New Zealand,"McLean Park, Napier",Away,Lost
24,25,20-01-2016,106,115.21,ODI,3,2,Yes,No,No,Australia,"Manuka Oval, Canberra",Away,Lost
40,41,08-03-2019,123,129.47,ODI,3,2,Yes,No,Yes,Australia,"JSCA Stadium, Ranchi",Home,Lost

### ILOC and LOC

#### Indexing with ILOC

In [61]:
# Index based data retrieval
df.iloc[77]

S. No.                                            78
Date                                      09-03-2023
Score                                            186
Strike Rate                                    51.09
Type of Match                                   Test
Position                                           4
Innings                                            2
Dismissed                                        Yes
Man of the Match                                 Yes
Captain                                           No
Against                                    Australia
Venue               Narendra Modi Stadium, Ahmedabad
H/A/N                                           Home
Result                                         Drawn
Name: 77, dtype: object

In [66]:
# Just one column
df.iloc[77, 1] # Index based

'09-03-2023'

In [67]:
# a Slice of columns
df.iloc[77, 1:6]

Date             09-03-2023
Score                   186
Strike Rate           51.09
Type of Match          Test
Position                  4
Name: 77, dtype: object

In [68]:
# How about we slice the rows too
df.iloc[20:40, 1:6]

          Date  Score  Strike Rate Type of Match  Position
20  16-11-2014    139       110.31           ODI         4
21  15-02-2015    107        84.90           ODI         3
22  22-10-2015    138        98.57           ODI         3
23  17-01-2016    117       100.00           ODI         3
24  20-01-2016    106       115.21           ODI         3
25  23-10-2016    154       114.92           ODI         3
26  15-01-2017    122       116.19           ODI         3
27  06-07-2017    111        96.52           ODI         3
28  31-08-2017    131       136.45           ODI         3
29  03-09-2017    110        94.82           ODI         3
30  22-10-2017    121        96.80           ODI         3
31  29-10-2017    113       106.60           ODI         3
32  01-02-2018    112        94.11           ODI         3
33  07-02-2018    160       100.62           ODI         3
34  16-02-2018    129       134.37           ODI         3
35  21-10-2018    140       130.84           ODI         3
36  24-10-2018    157       121.71           ODI         3
37  27-10-2018    107        89.91           ODI         3
38  15-01-2019    104        92.85           ODI         3
39  05-03-2019    116        96.67           ODI         3

#### Working with LOC